$primary-color: #98BBDB;
$text-color: #333333;
$text-color-dark: #1B4D7D;
$body-color: #fff;
$border-color: #1B4D7D;
$black: #000;
$white: #fff;
$light: #a7caea;

$primary-gradient: linear-gradient( 27deg, $primary-color 0%, $light 100%);

// font variables
$primary-font: 'Quicksand', sans-serif;
$icon-font: 'themify';
