{{ define "main" }}

<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <article>
          <h2>{{ .Title }}</h2>
          {{ if .Params.Image }}
          <a href="{{ .Params.Image | absURL }}">
            <img src="{{ .Params.Image | absURL }}" alt="{{ .Title }}" class="w-50 mb-2 mr-4 float-left">
          </a>
          {{ end }}
          <div class="content">
            {{.Content}}
          </div>
          {{ if .Params.BottomImage }}
          <a href="{{ .Params.BottomImage | absURL }}">
            <img src="{{ .Params.BottomImage | absURL }}" alt="{{ .Title }}" class="w-50 mb-2 mr-4 float-left">
          </a>
          {{ end }}
        </article>
      </div>
    </div>
  </div>
</section>

{{ end }}
