<footer class="section pb-0 pt-0">
  <div class="container">
    <div class="row border-bottom pb-5 justify-content-between">
      <div class="col-md-6 col-sm-12">
        <h5 class="font-weight-medium mb-4">Connect with Elise</h5>
        <ul class="list-unstyled mb-5">
          <li class="mb-3"><a class="text-color" href="tel:{{ .Site.Params.mobile }}"><i
                class="ti-mobile text-primary mr-2"></i>
              {{ .Site.Params.mobile }}</a></li>
          <li class="mb-3"><a class="text-color" href="mailto:{{ .Site.Params.email }}"><i
                class="ti-email text-primary mr-2"></i> {{ .Site.Params.email }}</a></li>
          <li class="mb-3"><i class="ti-location-pin text-primary mr-2"></i> {{ .Site.Params.location }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid color-bar">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-8 col-md-6">
        <a class="" href="{{ site.BaseURL }}"><img class="img-fluid" src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}"></a>
      </div>
    </div>
  </div>
    <div class="row p-4">
      <div class="col-xs-12 col-sm-6 text-center mb-2">
        <a href="https://aac-org.uk/"><img class="img-fluid" src="/images/aac.png" alt="AAC logo"></a>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
        <a href="https://www.britishacupuncturefederation.co.uk/"><img class="img-fluid" src="/images/baf.png" alt="BAF logo"></a>
      </div>
    </div>
  <div class="row">
    <div class="col-12 text-center py-4">
      {{ with .Site.Params.Copyright }}
      {{ replace . "{year}" now.Year | markdownify }}
      {{ end }}
    </div>
  </div>
</footer>

{{ "<!-- Google Map API -->" | safeHTML }}
<script async defer src="{{ .Site.Params.gmapAPI | absURL }}"></script>
{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
