{{ define "main" }}

<!-- banner -->
{{ if .Site.Data.homepage.banner.enable }}
{{ with .Site.Data.homepage.banner }}
<section class="section-sm">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5 col-md-6 order-2 order-md-1">
        <h1>{{ .title | markdownify }}</h1>
        <h3>{{ .subtitle | markdownify }}</h3>
        <p>{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link }}" class="btn btn-primary mr-3">{{ .label }}</a>
        {{ end }}
        {{ end }}

        {{ if .video.enable }}
        {{ with .video }}
        <a data-toggle="modal" data-src="{{ .videoURL | safeURL }}" data-target="#videoModal"
          class="text-color video-modal"><i
            class="ti-control-play bg-gradient hover-shadow btn-play mr-2"></i><span>Watch Video</span></a>
        {{ end }}
        <!-- Modal -->
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content border-0 rounded-0">
              <iframe width="560" height="315" src="" id="video" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      <div class="col-lg-7 col-md-6 order-1 order-lg-2">
        <img src="{{ .image | absURL }}" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /banner -->

{{ if .Site.Data.homepage.notice.enable }}
{{ partial "cta.html" .Site.Data.homepage.notice }}
{{ end }}

<!-- about -->
{{ if .Site.Data.homepage.about.enable }}
{{ with .Site.Data.homepage.about }}
<section class="section">
  <div class="container">
    <div class="row justify-content-around align-items-center">
      <div class="col-lg-5 col-md-6">
        <img class="img-fluid" src="{{ .image | absURL }}" alt="">
      </div>
      <div class="col-md-6 col-lg-5">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /about -->

{{ if .Site.Data.homepage.cta.enable }}
{{ partial "cta.html" .Site.Data.homepage.cta }}
{{ end }}

<!-- products -->
{{ if .Site.Data.homepage.products.enable }}
{{ with .Site.Data.homepage.products }}
<section class="section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        <h2>{{ .title | markdownify }}</h2>
        <p>{{ .subtitle | markdownify }}</p>
      </div>
    </div>
    <div class="row">
      {{ range .product }}
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card border-0 text-center">
          <a href="{{ .link }}">
            <img src="{{ .image | absURL }}" alt="material" class="card-img-top border-0">
          </a>
          <div class="card-body">
            <h4>{{ .title | markdownify }}</h4>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /products -->

<!-- testimonial -->
{{ if .Site.Data.homepage.testimonial.enable }}
{{ with .Site.Data.homepage.testimonial }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>{{ .title | markdownify }}</h2>
      </div>
    </div>
    <div class="row testimonial-slider">
      {{ range .testimonialItem }}
      <div class="col-4">
        <div class="card border-primary text-center">
          <div class="card-body">
            <img src="{{ .image | absURL }}" class="client-img" alt="{{ .name | markdownify }}">
            <p class="quoted">{{ .content | markdownify }}</p>
            <h6 class="font-weight-medium">{{ .name | markdownify }}</h6>
            <small>{{ .designation | markdownify }}</small>
            <ul class="list-inline rating {{ .rating | lower }} mt-3">
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
              <li class="list-inline-item mx-0"><i class="ti-star"></i></li>
            </ul>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /testimonial -->

{{ end }}
